In [1]:
import pandas as pd
import sqlalchemy
import pymysql
import numpy as np
import datetime
import calendar
engine = sqlalchemy.create_engine("mysql+pymysql://nitesh.kr:yRpRtyJR0XSqVLibLT@dms002.healthians.co.in/testenv_prod")
query = '''
SELECT date(lcd.date_time) 'Lead_creation_date',SUBSTRING(lcd.campaign_name,3,LOCATE(',',lcd.campaign_name,1)-3)
AS 'city',ROUND(SUM(sms_rate),2) AS 'Facebook_cost' FROM `lead_campaign_detail` lcd 
WHERE lcd.vendor_id =3 AND DATE(Date_time)  BETWEEN 
(LAST_DAY(CURDATE() - INTERVAL 1 MONTH)) 
AND 
(CURDATE() - INTERVAL 1 day)
GROUP BY city,Lead_creation_date'''
df_FBcost = pd.read_sql_query(query,engine)
engine.dispose()
df_FBcost.head()

  Lead_creation_date  city  Facebook_cost
0         2019-04-30  AGRA        4013.85
1         2019-05-01  AGRA        4038.50
2         2019-05-02  AGRA        3936.23
3         2019-05-03  AGRA        5084.57
4         2019-05-04  AGRA        4192.32

In [2]:
%pwd
%cd D:\Raw_Data\City Vs State
df_city = pd.read_csv('city_vs_state.csv')

D:\Raw_Data\City Vs State

In [3]:
df_FBcost['city'].dropna(axis=0,inplace=True)
dffb1=df_FBcost.merge(df_city,left_on ='city',right_on = 'Lead_City', how = 'left')
dffb1=dffb1.drop(columns = 'Lead_City')
dffb1['State'].dropna(inplace=True)

df_fc = dffb1.pivot_table(index=['State'],columns=['Lead_creation_date'],values='Facebook_cost',aggfunc=np.sum)
df_fc.reset_index()


def var_sum(x):
    return pd.Series(np.sum(x))


df_fbc_sum = df_fc._get_numeric_data().apply(lambda x : var_sum(x))

df_fc=pd.concat([df_fc,df_fbc_sum],axis=0,sort=False)
df_fc.reset_index(inplace=True)
df_fc.rename(columns = {'index' : 'State'},inplace=True)
df_fc.fillna(0, inplace = True)
df_fc.loc[df_fc.shape[0]-1,'State'] = 'Total'
df_fc

Lead_creation_date,State,2019-04-30,2019-05-01,2019-05-02,2019-05-03,2019-05-04,2019-05-05,2019-05-06,2019-05-07,2019-05-08,...,2019-05-20,2019-05-21,2019-05-22,2019-05-23,2019-05-24,2019-05-25,2019-05-26,2019-05-27,2019-05-28,2019-05-29
0,BLR,22065.50,22666.90,15271.46,14580.62,13235.97,13401.33,17235.88,18711.08,19216.92,...,14163.44,13483.88,15870.23,17165.73,18768.43,19873.32,19657.53,19497.49,17289.28,15947.20
1,Dehradun,3894.46,4043.03,3300.83,2886.74,3713.39,3919.58,3957.10,3959.96,4102.32,...,3763.99,3821.97,3859.24,4050.17,4040.42,3754.68,4028.74,3994.78,4022.25,3958.29
2,HR,6781.87,7079.49,7006.56,7070.95,6838.60,6932.12,6893.31,6989.78,7604.06,...,4561.56,2959.48,2476.29,3723.94,3807.09,2778.04,2957.17,3069.92,2864.24,2778.50
3,Hyderabad,9211.13,9470.79,8311.75,9168.68,9436.59,9426.31,9192.06,9087.10,9417.01,...,9076.39,7524.16,9153.25,7759.39,7945.95,8298.01,9534.78,8878.42,8370.18,6912.12
4,Jaipur,3947.64,4000.00,4000.00,4000.00,4000.00,4000.00,4000.00,4000.00,4000.00,...,5624.66,3531.93,3447.80,3561.35,3541.44,3424.86,3490.92,3552.79,3448.28,3532.87
5,MP,3903.59,4000.00,4000.00,4000.00,3941.20,3813.66,3926.63,3850.88,3938.72,...,5141.38,5100.62,5001.85,5168.16,5147.03,5031.81,5034.03,5023.80,5013.14,5007.05
6,Mumbai,25242.05,25893.16,22211.28,24155.54,23036.02,22880.45,24703.59,22340.23,25345.27,...,15939.47,15373.36,19962.63,22067.95,22873.53,16915.35,15378.09,15095.70,15637.20,13464.61
7,NCR,44036.34,45431.80,34499.22,40040.67,35633.61,41125.70,41275.17,42894.97,37213.65,...,35888.77,37892.32,40320.05,42403.17,51918.07,34988.27,42977.89,53773.95,55404.58,48496.37
8,PCM,8663.29,9184.50,7570.69,8671.07,8460.68,8776.16,8838.47,6067.89,8562.40,...,7000.38,5314.63,3936.09,3550.17,3662.79,4554.73,3804.60,4064.54,4030.57,3437.43
9,Pune,12417.47,12668.70,12395.94,12206.19,11926.95,13759.45,13313.29,12934.98,11857.85,...,6049.01,7591.92,10004.33,11216.48,10999.74,10499.07,10990.78,11072.03,11018.63,10907.52
10,Punjab,16807.76,15700.24,15047.26,15647.97,14332.62,13646.07,17531.55,18065.81,13210.71,...,11379.81,12481.84,15964.57,15434.20,16715.02,16294.89,14161.31,14606.52,13437.37,12803.21
11,UP,19409.96,20239.74,19963.65,21193.54,20159.11,20423.32,21852.38,18039.97,18199.50,...,24407.00,21586.22,19808.13,21667.34,22496.92,17520.36,17943.45,18097.92,16613.51,16297.37
12,Total,176381.06,180378.35,153578.64,163621.97,154714.74,162104.15,172719.43,166942.65,162668.41,...,142995.86,136662.33,149804.46,157768.05,171916.43,143933.39,149959.29,160727.86,157149.23,143542.54

In [4]:
df_fc.to_csv('df_fc.csv')