In [1]:
import pandas as pd
import sqlalchemy
import pymysql
import numpy as np
import datetime
import calendar
engine = sqlalchemy.create_engine("mysql+pymysql://nitesh.kr:yRpRtyJR0XSqVLibLT@dms002.healthians.co.in/testenv_prod")
query = '''
SELECT date(lcd.date_time) 'Lead_creation_date',SUBSTRING(lcd.campaign_name,1,LOCATE(':',lcd.campaign_name,1)-1) AS 'city',ROUND(SUM(sms_rate),2) AS 'Google_cost' 
FROM lead_campaign_detail lcd
WHERE lcd.vendor_id IN (4,69,118,122) AND DATE(Date_time) BETWEEN 
(LAST_DAY(CURDATE() - INTERVAL 1 MONTH)) 
AND 
(CURDATE() - INTERVAL 1 day)
GROUP BY city,Lead_creation_date'''
df_Googlecost = pd.read_sql_query(query,engine)
engine.dispose()
df_Googlecost.head()

  Lead_creation_date city  Google_cost
0         2019-05-01           2029.57
1         2019-05-02           2097.73
2         2019-05-03           1424.54
3         2019-05-04           1417.03
4         2019-05-05           1622.73

In [2]:
%pwd
%cd D:\Raw_Data\City Vs State
df_city = pd.read_csv('city_vs_state.csv')

D:\Raw_Data\City Vs State

In [3]:
df_Googlecost['city'].dropna(axis=0,inplace=True)
dfc1=df_Googlecost.merge(df_city,left_on ='city',right_on = 'Lead_City', how = 'left')
dfc1=dfc1.drop(columns = 'Lead_City')
dfc1['State'].fillna('NCR',inplace=True)

df_gc = dfc1.pivot_table(index=['State'],columns=['Lead_creation_date'],values='Google_cost',aggfunc=np.sum)
df_gc.reset_index()


def var_sum(x):
    return pd.Series(np.sum(x))


df_gc_sum = df_gc._get_numeric_data().apply(lambda x : var_sum(x))

df_gc=pd.concat([df_gc,df_gc_sum],axis=0,sort=False)
df_gc.reset_index(inplace=True)
df_gc.rename(columns = {'index' : 'State'},inplace=True)
df_gc.fillna(0, inplace = True)
df_gc.loc[df_gc.shape[0]-1,'State'] = 'Total'
df_gc

Lead_creation_date,State,2019-05-01,2019-05-02,2019-05-03,2019-05-04,2019-05-05,2019-05-06,2019-05-07,2019-05-08,2019-05-09,...,2019-05-20,2019-05-21,2019-05-22,2019-05-23,2019-05-24,2019-05-25,2019-05-26,2019-05-27,2019-05-28,2019-05-29
0,BLR,21038.90,17115.21,19531.57,17312.67,14068.79,17655.26,12272.65,14777.83,13517.76,...,20394.38,19596.07,18395.50,16220.22,20354.87,18552.43,15319.33,20101.91,21107.89,20237.71
1,Dehradun,890.86,1370.91,887.43,1072.80,1351.82,1002.42,1204.04,1421.75,1551.18,...,1203.57,1106.54,1367.07,932.16,955.37,982.53,669.57,1256.34,1257.81,1425.16
2,HR,1685.60,1614.91,2037.48,1708.65,1326.45,1352.49,1191.87,1245.82,711.80,...,1566.63,1857.79,1837.08,1193.59,1293.20,1671.15,1589.67,1942.51,2537.61,1317.10
3,Hyderabad,8762.76,9380.76,9919.78,8753.57,7600.74,10533.87,9632.40,10310.67,8101.79,...,10409.35,6532.94,7578.42,5400.94,6466.13,8093.46,7233.83,9003.25,8711.73,9347.86
4,Jaipur,4656.17,5631.15,5568.97,2858.00,2399.70,3311.18,5042.63,2703.70,2160.78,...,2335.44,2558.71,1712.19,1462.54,3403.19,3044.27,1802.07,2164.64,2438.01,2702.00
5,MP,1945.54,2115.02,1107.99,1454.39,1465.50,1810.98,1291.81,1640.56,857.18,...,2276.86,2291.66,2038.32,1205.36,1597.87,1971.10,1964.25,2876.76,1939.78,774.56
6,Mumbai,20428.19,23890.62,21734.09,20859.03,14536.88,20319.18,18518.33,17189.65,19395.79,...,20183.88,20594.21,20238.68,19014.61,18598.49,20436.39,15517.24,20434.85,18911.56,22273.93
7,NCR,55752.45,48501.77,50978.95,58104.63,48902.06,51953.01,48745.28,54026.72,53801.47,...,45942.44,43970.73,48080.30,42698.72,57508.79,55578.16,55277.35,63969.76,66188.64,56892.20
8,PCM,3909.30,4080.41,5754.24,4536.83,4148.31,5137.56,4177.38,5689.09,6285.50,...,5069.42,4275.92,3432.92,2862.39,3167.11,4184.14,2447.40,4726.81,4747.44,3870.77
9,Pune,12950.62,11675.63,10524.28,11720.76,10751.91,9813.88,9459.90,11415.71,11363.99,...,8066.86,7458.43,7110.96,4847.27,7425.77,7307.09,8040.18,8194.14,7088.96,11602.84
10,Punjab,2959.18,3498.20,5166.59,4140.83,3019.16,4337.85,4124.76,3999.27,4487.06,...,4642.44,3919.84,3652.15,3126.58,3199.68,3839.07,4227.21,3893.40,4756.74,3172.32
11,UP,8710.84,7725.61,6769.36,8409.33,5728.35,5620.65,7592.04,7743.21,7249.26,...,6241.63,7228.47,6573.42,5710.63,5209.14,7111.19,6546.46,6572.73,8975.41,6482.61
12,Total,143690.41,136600.20,139980.73,140931.49,115299.67,132848.33,123253.09,132163.98,129483.56,...,128332.90,121391.31,122017.01,104675.01,129179.61,132770.98,120634.56,145137.10,148661.58,140099.06

In [4]:
df_gc.to_csv('df_gc.csv')